{% extends "inventory/base_generic.html" %}

{% block content %}

<h1>Bienvenido al Sistema de Gestión de Inventarios</h1>
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}. <a href="{% url 'logout' %}">Cerrar Sesión</a></p>
        <a href="{% url 'listar_proveedores' %}">Proveedores</a><br>
        <a href="{% url 'listar_productos' %}">Productos</a><br>
        <a href="{% url 'listar_pedidos' %}">Pedidos</a><br>
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar Sesión</a> | <a href="{% url 'registro' %}">Registrarse</a></p>
    {% endif %}

{% endblock %}
    


    
